# Regular expression assignment

Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [2]:
import re
text='Python Exercises, PHP exercises.'
print(re.sub("[  ,.]",":",text))

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and 
remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [18]:
import re
import pandas as pd
dict1={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
a=pd.DataFrame(dict1)

#mask=a['SUMMARY'].str.contains(pattern)
a['SUMMARY'] = a['SUMMARY'].str.replace('[^a-z\s]', '', regex=True)
a['SUMMARY']

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

Q.3 Create a function in python to find all words that are at least 4 characters long in a string. 
The use of the re.compile() method is mandatory.

In [2]:
import re
def fun(str):
    pattern=(r'\b\w{4}\b')
    matches=re.findall(pattern,str)
    return matches
str="Hello Where is your home"
print(fun(str))

['your', 'home']

Q.4.Create a function in python to find all three, four, and five character words in a string. 
The use of the re.compile() method is mandatory.

In [4]:
import re
def fun(str):
    pattern=(r'\b\w{3,5}\b')
    matches=re.findall(pattern,str)
    return matches
str="Hello! how are you. Where is your home"
print(fun(str))

['Hello', 'how', 'are', 'you', 'Where', 'your', 'home']

Q.5.Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [1]:
import re
def parentheses(string):
    pattern=re.compile(r'\(\)')
    newstrs=[]
    for strings in string:        
        newstr=re.sub(pattern,"",strings)
        newstrs.append(newstr)
    return newstrs
str=["example (.com)", "hr@fliprobo (.com)", "github (.com)","Hello (Data Science World)", "Data (Scientist)"]
print(parentheses(str))

['example (.com)', 'hr@fliprobo (.com)', 'github (.com)', 'Hello (Data Science World)', 'Data (Scientist)']

In [4]:
import re
with open("File1.txt",'r')as f1:
    txt=f1.read()
    modified_text = re.sub(r'\([^)]*\)', '', txt)

# Save the modified text back to the text file
with open('File1.txt', 'a') as f1:
    f1.write(modified_text)

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [82]:
import re
str1="ImportanceOfRegularExpressionsInPython"
result=re.findall('[A-Z][^A-Z]*',str1)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample Text= "RegularExpression1IsAn2ImportantTopic3InPython"

In [7]:
import re

def inserts(s):
    
    s = re.sub(r'([0-9])', r' \1', s)
    return s  # Remove leading and trailing spaces if any

# Example usage:
input_string = "RegularExpression1IsAn2ImportantTopic3InPython"
formatted_string = inserts(input_string)
print(formatted_string)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [14]:
import re
import pandas as pd
df1=pd.read_csv('country.csv')
df1
df1['first_five_letters'] = df1['Country'].apply(lambda x: x[:6])
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [30]:
import re
pattern=r'^[a-zA-Z0-9_]+$'
string="Itpandaslibrary"
if re.match(pattern,string):
    print("matches")
else:
    print("not matches")

matches

Question 12- Write a Python program where a string will start with a specific number.

In [6]:
import re
pattern=r'\d'
s="2Hello2howare you"
p=re.split(pattern,s)
print(p)

['', 'Hello', 'howare you']

In [3]:
import re
ip = "204.08.094.196"
string = re.sub('\.[0]*', '.', ip)
print(string)

216.8.94.196

In [14]:
text="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern=r"\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b"
match=re.findall(pattern,text)
print(match)

['August']